nav {
  text-align: center;
  padding: 10px 20px;
  border-bottom: 2px solid ivory;
}

ul, li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: ivory;
}

.nav-left {
  float: left;
}

.nav-right {
  float: right;
}

.title {
  clear: right;
  clear: left;
  font-size: 20px;
}
