* {
  color: black;
}

form {
  text-align: center;
  padding: 20px 0;
  /*border: 3px solid black;*/
}

input {
  margin: 6px 0;
  height: 30px;
  width: 200px;
  border: none;
  border-radius: 3px;
  padding-left: 10px;
}

button {
  margin-top: 10px;
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 3px;
  font-size: 20px;
}
